@use '../helpers' as *;

.whoweare {
  &__body {
    display: flex;
    align-items: flex-start;

    @media (max-width: em(950)) {
      flex-direction: column-reverse;
    }
  }

  &__video {
    flex: 0 0 57%;

    @media (max-width: em(950)) {
      &:not(:last-child) {
        margin-top: rem(50);
      }
    }

    @media (max-width: em(767.98)) {
      &:not(:last-child) {
        margin-top: rem(30);
      }
    }
  }

  &__content {
    flex: 1 1 auto;
    padding: 20px 0 0 121px;

    @media (max-width: em(1080)) {
      padding-top: 0;
      padding-left: 50px;
    }

    @media (max-width: em(950)) {
      padding-left: 0;
    }
  }

  &__title {
    font-size: 40px;
    font-weight: 700;
    color: var(--color-dark);

    &:not(:last-child) {
      margin-bottom: rem(10);
    }

    @media (max-width: em(950)) {
      font-size: 24px;
    }
  }

  &__top {
    &:not(:last-child) {
      margin-bottom: fluid(50, 20);
    }
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: rem(30);
    }
  }
}

.item-whoweare {
  display: flex;

  &__icon {
    flex: 0 0 32px;
  }

  &__body {
    flex: 1 1 auto;
    padding-left: 20px;
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-dark);

    &:not(:last-child) {
      margin-bottom: rem(5);
    }
  }

  &__text {
    overflow: hidden;
    width: 225px;
    font-weight: 600;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
