@use '../helpers' as *;

.footer {
  &__top {
    padding: 35px 0;
    background: #17213c;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
  }

  &__column {
    flex: 0 1 16.667%;
    padding: 15px;
  }

  &__column:last-child {
    flex: 0 1 33.334%;
  }

  &__label {
    margin: 0 0 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.1px;
    color: #ffffff;
  }

  &__button {
    padding: 25px 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__copy {
    font-size: 14px;
    font-weight: 600;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #737373;
  }

  &__social {
    display: flex;
    align-items: center;
  }
}

.menu-footer {
  &__item:not(:last-child) {
    margin: 0 0 10px;
  }

  &__link {
    display: block;
    font-size: 14px;
    font-weight: 600;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #ffffff;
  }

  &__link:hover {
    text-decoration: underline;
  }
}

.contacts-footer {
  display: flex;
  flex-direction: column;

  &__item {
    display: flex;
    align-items: center;
    min-height: 30px;
    padding: 0 0 0 34px;
    font-size: 14px;
    font-weight: 600;
    line-height: 171%;
    letter-spacing: 0.2px;
    color: #ffffff;

    &_phone {
      background: url('../img/footer/phone.svg') 0 0 no-repeat;
    }

    &_map {
      background: url('../img/footer/location.svg') 0 0 no-repeat;
    }

    &_email {
      background: url('../img/footer/telegram.svg') 0 0 no-repeat;
    }
  }

  &__item:not(:last-child) {
    margin: 0 0 12px;
  }

  &__item:hover {
    text-decoration: underline;
  }
}

.social {
  &__item {
    transition: all 0.4s ease 0s;
  }

  &__item:not(:last-child) {
    margin: 0 20px 0 0;
  }

  &__item:hover {
    transform: scale(1.15);
  }
}

@media (width <= 992px) {
  .footer {
    &__column {
      flex: 0 1 25%;
    }

    &__column:last-child {
      flex: 0 1 100%;
    }
  }
}

@media (width <= 700px) {
  .footer {
    &__column {
      flex: 0 1 50%;
    }
  }
}

@media (width <= 767px) {
  .footer {
    &__container {
      flex-direction: column;
    }

    &__copy {
      margin: 0 0 15px;
      text-align: center;
    }
  }
}
