@use '../helpers' as *;

[class*='page__'] {
  // @include adaptive-clamp('padding-top', 80, 20);
  // @include adaptive-clamp('padding-bottom', 80, 20);
}
.page__servises {
  position: relative;
  z-index: 2;
  margin-top: fluid(-110, -30);
}
