@use '../helpers' as *;

.servises {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: fluid(30, 20);
    align-items: stretch;
    @media (max-width: em(991.98)) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: em(767.98)) {
      grid-template-columns: auto;
    }
  }
}

.card-servise {
  background-color: var(--color-white);
  box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
  padding: fluid(35, 16);
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    font-weight: 700;
    font-size: fluid(24, 18);
  }
}

.green {
  background-color: var(--color-green);
  color: var(--color-white);
}
