@use '../helpers' as *;

.subscribe {
  position: relative;
  padding-bottom: 20px;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 77px;
    background-color: var(--color-dark);
  }

  &__body {
    align-items: center;
    padding: 30px 50px;
    background: var(--color-blue);
    border-radius: 5px;

    @media (width >= 1070px) {
      margin: 0 30px;
    }

    @media (width >= 810px) {
      display: flex;
      justify-content: space-between;
    }

    @media (width <= 810px) {
      margin: 0 -15px; /* чтобы убрать лишние отступы */
      padding: 20px 15px;
    }
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.3;
    color: var(--color-white);

    @media (width <= 810px) {
      margin: 0 0 20px;
    }

    @media (width >= 810px) {
      max-width: 266px;
    }
  }

  &__form {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
  }

  &__input {
    flex: 1 1 auto;
    width: 100%;
    min-height: 58px;
    padding: 0 15px;
    color: var(--color-dark);
    background-color: var(--color-white);
    border: 1px solid var(--color-white);
    border-right: 0; /* была двойная граница у button и input */
    border-radius: 5px 0 0 5px;

    :focus {
      color: var(--color-black);
    }
  }
}
