@use '../helpers' as *;

.advantages {
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: stretch;
    gap: 16px;

    @media (max-width: em(1024)) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: em(767.98)) {
      grid-template-columns: auto;
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 30px;
    font-weight: 700;
    text-align: center;
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 48px;
  }

  &__value {
    font-size: 40px;
    color: var(--color-dark);
  }

  &__text {
    font-size: 18px;
  }
}
