@use 'helpers' as *;

// --f-font-size: #{rem(16)}; #{rgba(#000, 10%) (если используем функции в css переменных, надо обернуть в #{} , иначе функции не будут работать)
:root {
  --scrollbar-width: 0rem;
  --z-index-header: 50;
  --z-index-scroll-up: 10;
  --z-index-popup: 150;
  --z-body-after: 149;

  --font-family-base: 'Montserrat', sans-serif;
  --font-family: 'Montserrat', sans-serif;
  --second-family: 'Montserrat', sans-serif;

  --container-width: #{rem(1046)};
  --container-padding-x: #{rem(15)};
  --transition-duration: 0.3s;
  --transition: 0.3s ease 0s;

  --font-size: #{rem(18)};
  --font-size-mobile: #{rem(16)};
  --font-weight: 400;
  --line-height: 1.5;

  --main-color: var(--color-white);
  --second-color: var(--color-dark);

  // --accent-color: var();
  // --hover-color: var();
  // --hover-background: var();
  // --scroll-up: var();

  --color-white: #ffffff;
  --color-dark: #0f172a;
  --color-gray: #534d4d;
  --border: 1px solid var(--main-color);
  --border-radius: #{rem(10)};
  --border-radius-btn: #{rem(8)};

  //**********
  --primary-color: #ff7b47;
  --secondary-color-1: #0d5c63;
  --secondary-color-2: #17213c;
  --text-color: #252b42;
  --second-text-color: #737373;
  --light-text-color: #fff;
  --dark-background-color: #252b42;
  --light-background-color: #fff;
  --hover-color: #2a7cc7;
  --disabled-element-color: #8ec2f2;
  --muted-color: #bdbdbd;
  --success-color: #2dc071;
  --alert-color: #e77c40;
  --danger-color: #e74040;
}
