@use 'helpers' as *;

:root {
  --scrollbar-width: 0rem;
  --z-index-header: 50;
  --z-index-scroll-up: 10;
  --z-index-popup: 150;
  --z-body-after: 149;

  --font-family-base: 'Montserrat', sans-serif;
  --font-family: 'Montserrat', sans-serif;
  --second-family: 'Montserrat', sans-serif;

  --container-width: #{rem(1200)};
  --container-padding-x: #{rem(15)};
  --transition-duration: 0.3s;
  --transition: 0.3s ease 0s;

  --font-size: #{rem(16)};
  --font-weight: 500;
  --line-height: 1.42;

  --main-color: var(--color-gray);
  --second-color: var(--color-dark);
  --accent-color: var(--color-orange);
  --hover-color: var(--color-orange);
  --hover-background: var(--color-orange);
  --scroll-up: var(--color-orange);

  --color-white: #ffffff; // --light-text-color
  --color-black: #000000;
  --color-dark: #252b42; // --text-color
  --color-gray: #737373; // --second-text-color
  --color-orange: #ff7b47; // --primary-color
  --color-green: #0d5c63; // --secondary-color-1
  --color-blue: #17213c; // --secondary-color-2
}
