.page {
    flex: 1 1 auto;/* чтобы прибить подвал к низу. .wrapper { display: flex; flex-direction: column;} */
    &__main-block {
    }
    &__servises {
        position: relative;
        z-index: 2;
        margin: -111px 0px 0px 0px;
    }
    &__advantages {
    }
    &__practice {        
    }
    &__whoweare {
    }
    &__clients:not(:last-child) {
        margin: 0px 0px 10px 0px;
    }
    &__subscribe {
    }
    &__getintouch {        
    }
    &__contacts {
    }
}