.servises {
    &__container {
    }

    &__body {
    }

    &__column {
        flex: 0 1 33.333%;
    }

    &__item {
        background-color: #fff;
        box-shadow: 0 13px 19px rgba(0, 0, 0, 0.07);
        padding: 35px;
        height: 100%;
    }
}
.item-servise > * :not(:last-child) {
    margin: 0px 0px 10px 0px;
}

.item-servise {

    &__icon {
    }

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 133%;
        letter-spacing: 0.1px;
        color: #252B42;
    }

    &__text {
        font-weight: 500;
        font-size: 14px;
        line-height: 143%;
        letter-spacing: 0.2px;
        color: #737373;
    }
}

.green {
    background: #0D5C63;
    color: #FFFFFF;
}

@media (max-width: 992px) {  
    .servises {
        &__column {
            flex: 0 1 50%;            
        }
        &__column:last-child {
            flex: 1 1 100%;
        }
        &__column:not(:last-child) {
            margin: 0px 0px 30px 0px;
        }
    }
}
@media (min-width: 670px) { 
    .servises {
        &__body {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
        }
        &__column {
            padding: 0px 15px;
        }
    }
}
@media (max-width: 479px) {
    .servises {
        &__item {
            padding: 25px;
        }
    }
}

/* 2.20 */
