.header-block {
    text-align: center;
    letter-spacing: 0.2px;
    &__title {
        font-weight: 700;
        font-size: 40px;
        color: #252B42;
        line-height: 142%;
    }
    &__title:not(:last-child) {
        margin: 0px 0px 10px 0px;
    }
    &__subtitle {
        font-weight: 500;
        font-size: 14px;
        color: #737373;
        line-height: 142%;
    }
}

@media (max-width: 992px) {
    .header-block {
        &__title {
            font-size: 35px;
        }
    }    
}
@media (max-width: 767px) {
    .header-block {
        &__title {
            font-size: 30px;
        }
    } 
}
@media (max-width: 576px) {
}